.fruits-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 40px 20px 40px;
  border: 1px solid #333333;
  padding: 30px;
  border-radius: 5px;
}
.fruits-wrapper {
  max-width: 250px;
}
.fruit-wrapper p {
  color: #ffffff;
  font-weight: bold;
}
.fruits-actions button {
  margin: 2px 5px;
}
.fruits-updates {
  max-width: 450px;
  margin: 50px auto;
}
.fruit-bar {
  height: 15px;
  width: 100%;
  margin: 2px;
}